
<% for (var key in suites ) { %>
  <h2><%= key %></h2>
  <% var tests = Object.keys(suites[key]).map(test => { 
    var t = suites[key][test]; 
    t.title = test; 
    return t;}).sort((a, b) => a.start < b.start ? -1 : 1); %>
  <% tests.forEach((test) => { %>
    <% if (test.pass) { %>
      <dt style="color: green;">✔ <%= test.title %><span style="font-size: 12px;"> <%= test.duration %> ms </span></dt>
    <% } else { %>
      <dt style="color: tomato;">✗ <%= test.title %><span style="font-size: 12px;"> <%= test.duration %> ms </span></dt>
    <% } %>
  <% }); %>
<% } %>
